<p>scheduling works!</p>
<form>
<table>
    <tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wedn</th>
    <th>Thur</th>
    </tr>
    <tr>
        <td *ngFor="let day of [0,1,2,3,4]" [formGroup]="schedulingForm">
            <select name=`day+${day}`
             [formControlName]="Days[day]" 
            [ngStyle]="{'background-color':chosen.chosen[day]!=-1?'green':'red'}" 
             (change)="chosen.chosen[day]=-2" onfocus="this.selectedIndex = -1">
                <option *ngFor="let volunteer of getSchedulingForDay(day)" [value]="volunteer.id" >{{volunteer.firstName}} </option>
            </select>
        </td>
        </tr>
</table>
<button type="submit" (click)="save_schduling()">save</button>
</form>